<!--  
===============LICENSE_START=======================================================
Acumos  Apache-2.0
===================================================================================
Copyright (C) 2017 AT&T Intellectual Property & Tech Mahindra. All rights reserved.
===================================================================================
This Acumos software file is distributed by AT&T and Tech Mahindra
under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
 
     http://www.apache.org/licenses/LICENSE-2.0
 
This file is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
===============LICENSE_END=========================================================
-->
<!-- Put this file into src/main/resources -->
<configuration>

    <contextName>AcumosONM</contextName>
	<property name="componentName" value="kubernetes-client"></property>
    <property name="logDirPrefix" value="logs"></property>
    <property name="logDirectory" value="${logDirPrefix}/${componentName}" />
    <property name="debugLogDirectory" value="${logDirPrefix}/${componentName}" />
    
    <!--  log file names -->
	 <property name="generalLogName" value="application" />
	 <property name="errorLogName" value="error" />
	 <property name="debugLogName" value="debug" />
    
	<timestamp key="bySecond" datePattern="yyyyMMdd.HHmmss" />
    <jmxConfigurator/>
    
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
           <pattern>%d{HH:mm:ss.SSS}|%contextName||[%X{user}]|[%thread]| %-5level| %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
          <level>${log_level}</level>
          <onMatch>ACCEPT</onMatch>
          <onMismatch>DENY</onMismatch>
        </filter>
          <!--   <Filters>
                <MarkerFilter marker="time" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters> -->
    </appender> 


    
    <appender name="DEBUG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${logDirectory}/${generalLogName}.log</file>
    <rollingPolicy
      class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>${logDirectory}/${generalLogName}.%i.log.zip
      </fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>9</maxIndex>
    </rollingPolicy>
    <triggeringPolicy
      class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>5MB</maxFileSize>
    </triggeringPolicy>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
      </filter>
    <encoder>
          <pattern>%d{HH:mm:ss.SSS}|%contextName|[%thread]| %-5level| %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <appender name="ERROR_FILE"
    class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${logDirectory}/${errorLogName}.log</file>
    <rollingPolicy
      class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>${logDirectory}/${errorLogName}.%i.log.zip
      </fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>9</maxIndex>
    </rollingPolicy>
    <triggeringPolicy
      class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>5MB</maxFileSize>
    </triggeringPolicy>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
     </filter>
    <encoder>
            <pattern>%d{ISO8601} %-5p [%c{3}] \(%t:%X{}\) %m%n</pattern>
        </encoder>
  </appender>

   
    
    <root level="DEBUG">
    <!-- <root>
        <level value="${logger.root.level}"/> -->
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DEBUG_FILE"/>
        <appender-ref ref="ERROR_FILE"/>
    </root>

    <!-- Third Parties Logs -->
    <!-- <logger name="com.security.service" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ACCESS_FILE" />
    </logger> -->
    <logger name="org.springframework">
        <level value="WARN"/>
    </logger>
    <logger name="org.apache" level="WARN" />
    <logger name="httpclient" level="WARN" /> 

    <!-- <logger name="org.acumos.azure.client.controller">
        <level value="DEBUG"/>
    </logger> -->

</configuration>
